<div class="row">
    <div class="col-md-6 offset-3 alert-warning text-center">
        <h2>Направивте успешна нарачка! </h2>
        <p>Може да ги проверите сите нарачки во делот за нарачки на вашиот профил</p>
        <hr />
        <p>Ви благодариме!</p>

    </div>
</div>