<div class="row">
    <div class="col-md-6 offset-3 alert-warning text-center">
        <h2>Успешно креиравте корисничка сметка</h2>
        <p>Сега може да се најавите</p>
        <hr />
        <p>Ви благодариме!</p>

    </div>
</div>