<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 style="color:saddlebrown"> Не е пронајден артистот </h1>
        <hr />  
        <a class="btn btn-outline-warning"style="color:saddlebrown" asp-controller="Vinyls" asp-action="Index">Назад на почетна страна</a>
    </div>
</div>